.title{
    color: black;
    text-align: center;
    background-color: aquamarine;
    margin-top: 28px;
}
.form{
    margin: auto;
    max-width: 83%;
    text-align: center;
}
input[¨type='submit'], button,[aria-label]{
    cursor: pointer;
}
#edit-box{
    display: none;
    max-width: 85%;
    margin: auto;
    margin-top: 10px;
}